* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    background: rgb(215, 215, 215);
    overflow: hidden;
    position: relative;
}

aside {
    //display: none;
    min-width: 285px;
    height: 100%;
    background: #eeeeee;
    padding: 30px;
    position: fixed;

    .container {
        width: 100%;
        display: grid;
        grid-template: repeat( 4, 30px ) auto auto / repeat( 4, 1fr );
        grid-gap: 7px;

        button {
            border: none;
            padding: 7px 8px;
            background: #00a651;
            color: white;
            font-size: 13px;
            cursor: pointer
        }

        button:hover {
           opacity: .9;
        }

        .story-post {
            grid-column: 1 / 5;
        }

        .downloadImage {
            grid-column: 1 / 3;
        }

        .clearCanvas {
            grid-column: 3 / 5;
        }

        .undo {
            grid-column: 1 / 2;
            padding: 0 20px;

            img {
                width: 18px;
                display: block;
            }
        }
        .redo {
            grid-column: 2 / 3;
            padding: 0 20px;

            img {
                width: 18px;
                display: block;
            }
        }
        .eraser {
            grid-column: 3 / 5;
        }

        .eraserActive {
            color: red;
            background: white;
        }

        .brushColor {
            grid-column: 1 / 2;
            margin: auto;
            cursor: pointer;
        }
        .brushSizeContainer {
            grid-column: 2 / 5;
            margin: auto;
            
            input {
                cursor: pointer;
            }
        }

        .sizeButtons {
            width: 100%;
            grid-column: 1 / 5;
            display: grid;
            grid-template: repeat( 2, auto ) auto auto / repeat( 3, auto );
            grid-gap: 7px;

            button {
                width: 70px;
                height: 30px;
                margin: auto;
            }
        }

        .colorButtons {
            width: 100%;
            grid-column: 1 / 5;
            display: grid;
            grid-template: repeat( 5, auto ) auto auto / repeat( 3, auto );
            grid-gap: 7px;
            margin-top: -14px;

            button {
                width: 70px;
                height: 30px;
                margin: auto;
            }

            button:hover {
                opacity: .9;
            }
        }
    }
}

main {
    width: 100%;
    height: 100vh;
    background: #72d3a3;
    display: grid;
    place-items: center;

    canvas {
        background: white;
        transform: scale( .5 );
        transform-origin: 50% 0;
        
    }
}